# Default Build Configuration
build --color=yes
build --test_env="GTEST_COLOR=TRUE"
build --test_env="DISPLAY"
build --test_output=errors
build --cxxopt="-std=c++14"
build --cxxopt="-Wall"


# LLVM 12.0 Build Configuration
build:clang12 --experimental_guard_against_concurrent_changes
build:clang12 --crosstool_top=//bazel/toolchains/clang:clang
build:clang12 --host_crosstool_top=//bazel/toolchains/clang:clang
build:clang12 --compiler=clang
build:clang12 --features=treat_warnings_as_errors
build:clang12 --features=third_party_warnings
build:clang12 --cxxopt="-std=c++14"


build:clang_tidy12 --aspects=bazel/clang_tidy/clang_tidy_aspect.bzl%clang_tidy_aspect
build:clang_tidy12 --output_groups=cc_aspect_output
build:clang_tidy12 --config=clang12
build:clang_tidy12 --build_tag_filters="-tidy_suite"

build:fuzzer --config=clang12
build:fuzzer --copt=-g
build:fuzzer --compilation_mode=dbg
build:fuzzer --features=sanitizer
build:fuzzer --features=fuzzer

build:basesan --config=clang12
build:basesan --compilation_mode=dbg
build:basesan --copt=-g
build:basesan --copt=-fno-optimize-sibling-calls
build:basesan --copt=-fno-omit-frame-pointer

build:asan --config=basesan
build:asan --copt=-fsanitize=address
build:asan --copt=-fsanitize-recover=address
build:asan --linkopt=-fsanitize=address
build:asan --action_env=ASANOPTIONS=halt_on_error=0

build:ubsan --config=basesan
build:ubsan --copt=-fsanitize=undefined,float-cast-overflow
build:ubsan --copt=-fno-sanitize=float-divide-by-zero
build:ubsan --linkopt=-fsanitize=undefined
build:ubsan --action_env=UBSANOPTIONS=print_stacktrace=1
