*.jpg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
data/undistorted_calibration1.jpg filter=lfs diff=lfs merge=lfs -text
data/Megamind.avi filter=lfs diff=lfs merge=lfs -text
data/camera_calibration filter=lfs diff=lfs merge=lfs -text
data/grace_hopper.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration1.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration11.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration12.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration13.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration20.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration9.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration10.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration15.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration6.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration14.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration16.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration3.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration4.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration5.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration7.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration17.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration18.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration19.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration2.jpg filter=lfs diff=lfs merge=lfs -text
data/camera_calibration/calibration8.jpg filter=lfs diff=lfs merge=lfs -text
